body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%; /* 100% + 10px + 10px  (without box-sizing)*/
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9342;
    margin-bottom: 4px;
}

button{
    background: #5f9342;
    color: rgb(253, 253, 253);
    padding: 10px 20px; /*if the bottom top and left right padding is identical*/
    /*padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;*/
    border: none;
    font-weight: bold;
}